*{
  margin: 0;
  padding: 0;
}
.sales-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100vh;
    background-color: white;
    padding: 20px;
    gap: 1rem;
  }

  .sales-container__addMedicine{
    position: relative;
    max-width: 700px;
    width: 50%;
    background: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 46px;
    border-right: 1px solid grey;
  }

  .sales-container__addMedicine header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
    /* margin-top: 5px; */
  }

  .sales-container__addMedicine .form {
    margin-top: 5px;
  }

  .form .input-box{
    width: 100%;
    margin-top: 20px;
  }

  .form .input-box .custom-select *{
    cursor: pointer;
  }

  .form button {
    height: 50px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: rgb(127, 107, 226);
  }

  .form button:hover {
    background-color: rgb(87, 87, 230);
  }

  .input-box label {
    color: #333;
  }

  .form .input-box select, input {
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 3px;
    border: 2px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }

  /* .form .input-box input{
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
  } */

.sales-container__dataAddedTable{
  min-height: 100vh;
  display: flex;
  margin-top: 65px;
  flex-direction: column;
  height: 40px;
  width: 100% !important;
  width: auto;
  overflow: hidden;
  margin-right: 10px;
 
}

.table__header{
  /* width: 100%;
  height: 10%; */
  background-color: #fff4;
  padding: .8rem 1 rem;
}

.table__body{
  width: 100%;
  max-height: calc(50% - 1.6rem);
  background-color: #fffb;
  margin: .8rem auto;
  overflow: auto;
  border-bottom: 1px solid black;
}

table, th, td{
  border-collapse: collapse;
  padding: 1rem;
  text-align: left;
}

table{
  width: 100%;
}

thead, th{
  position: sticky;
  top: 0;
  /* left: 0; */
  background-color: #d5d1defe;
}

/* tbody tr :nth-child(even){
  background-color: #0000000b;
}

tbody tr:hover{
  background-color:#fff6;
} */

/* For the table section  */
.remove-button {
  cursor: pointer;
  background-color: rgb(235, 13, 124);
  /* font-size: 16px; */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

@media (max-width: 1000px){
  td:not(:first-of-type){
    max-width: 12.1 rem;
  }
}

.total-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.total-price .total-price-title{
  margin-left: 23em;
}

/* .total-price .price-value{
  margin-right: 10rem;
} */

.discount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.discount .discount-amount{
  margin-left: 15em;
}

.discount .discount-box {
  height: 2rem;
  width: 15rem;
}

.discount-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.discount-price .discount-price-title{
  margin-left: 23em;
}

.paid-button{
  background-color: rgb(127, 107, 226); /* Background color */
    color: white;            /* Text color */
    padding: 10px 20px;      /* Padding */
    border: none;            /* Remove border */
    border-radius: 5px;      /* Rounded corners */
    cursor: pointer;         /* Cursor on hover */
    font-size: 1rem;    
    margin-left: 30em;
    width: 20%;
}


